/node_modules
/docs/_api
/docs/_build
/docs/_cache
/public/css
/public/fonts
/public/js
/public/images/vendor
/public/storage
/public/hot
/public/mix-manifest.json
/reports
/resources/views/vendor/mail/html/themes/mail.css
/storage/debugbar
/storage/oauth-*.key
/storage/settings.hjson
/vendor
/.idea
Code.iml
Homestead.json
Homestead.yaml
.env
.DS_Store
.phpunit.result.cache
.phpstorm.meta.php
*.phar
